!!!
%html
  %head>
    %meta{ content: 'text/html', charset: 'UTF-8', "http-equiv" => 'Content-Type' }
  %body
    %h1 Report Summary

    %p
      All employees have turned in their reports!

    %p
      The average mood of everyone is:
      = mood_to_smiley(average_mood_from(@reports))

    %ul
      - @reports.each do |report|
        %li
          = report.user.email
          %ul
            - 4.times do |i|
              - n = i+1
              - answers = ActiveSupport::JSON.decode report.send("question#{n}")
              %li
                =t "simple_form.labels.report.question#{n}"
                %ul
                  - answers.each do |answer|
                    %li
                      = answer
            %li
              Mood:
              - debugger
              = mood_to_smiley report.mood

    %p
      That's it. Have a great day!