%h1
  = t 'report.new_heading'

= simple_form_for resource, url: { action: :create }, html: {class: 'form-vertical' } do |f|
  = f.input :question1, input_html: { class: 'multi_answer', name: 'report[question1][]' }
  = f.input :question2, input_html: { class: 'multi_answer', name: 'report[question2][]' }
  = f.input :question3, input_html: { class: 'multi_answer', name: 'report[question3][]' }
  = f.input :question4, input_html: { class: 'multi_answer', name: 'report[question4][]' }

  In general I feel ...
  %br
  = f.collection_radio_buttons :mood, [[1, "<i class='fa fa-smile-o'></i>".html_safe], [2, "<i class='fa fa-meh-o'></i>".html_safe], [3, "<i class='fa fa-frown-o'></i>".html_safe]], :first, :last
  = f.full_error :mood, class: 'error'
  %br

  = f.button :submit