!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "EmployeeReporter"
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => 'X-UA-Compatible', content: 'IE=Edge,chrome=1' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

    -# For third-generation iPad with high-resolution Retina display:
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'

    -# For iPhone with high-resolution Retina display:
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'

    -# For first- and second-generation iPad:
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'

    -# For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'

    -# For all other devices
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    = javascript_include_tag "application", "data-turbolinks-track" => true

  %body

    %div{ class: "navbar navbar-fluid-top" }
      %div{ class: "navbar-inner" }
        %div{ class: "container-fluid" }
          %a{ class: "btn btn-navbar", "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
            %span{ class: "icon-bar" }
            %span{ class: "icon-bar" }
            %span{ class: "icon-bar" }

          %a{ class: "brand", href: "#" } Employee Report
          %div{ class: "container-fluid nav-collapse" }
            %ul{ class: "nav" }
              - if current_user
                %li= link_to "New Report", new_report_path
                %li= link_to "Logout", destroy_user_session_path, method: :delete
              - else
                %li= link_to "Login", new_user_session_path
                %li= link_to "Register", new_user_registration_path

    %div{ class: "container-fluid" }
      %div{ class: "row-fluid" }
        %div{ class: "span9" }
          = bootstrap_flash
          = yield

      %footer
        %p &copy; Arkavis 2014
